/* ===== Remove OR delete all by default margin & padding ===== */
*{
    margin: 0;
    padding: 0;
}


/* ======================================================
                     Navbar section styles
   ====================================================== */
.nav-cointainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9b9898;
    width: 100%;
    color: white;
    /* padding: 10px; */

}

/* .logo-container{
    padding: 10px;
}
.manu-container{
    padding: 10px;
} */

/* ===== Navbar items styles ===== */
.items{
    display: flex;
    list-style: none;
}

/* ===== Navbar item styles ===== */
.item{
    font-size: 22px;
    font-weight: 800;
    color: white;
    /* padding: 10px; */
    margin-right: 25px;

}

/* ======================================================
                     Banner section styles
   ====================================================== */
.banner-container{
    width: 100%;
    height: 100vh;
    background: url("/asset/image/background.jpg"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

/* ===== Banner-titie styles ===== */
.banner-title{
    font-size: 85px;
    font-weight: bold;
}

/* ===== Banner title "Digital" word styles ===== */
.primary{
    color: rgb(245, 44, 44);
}

/* ===== Banner description styles ===== */
.banner-description{
    width: 50%;
    margin: auto;
    font-size: 22px;
    padding: 20px;
}

/* ======================================================
      NOTE: Two different way you can styles buttons
   ====================================================== */

/* ===== 1st way - Make a common button styles to use all the buttons in your website  ===== */
.btn{
    padding: 15px 40px;
    border: none;
    font-size: 18px;
    margin: 5px;
}

/* ===== Discover more button style ===== */
.btn-discover{
    background-color: rgb(245, 44, 44);
    color: white;
}

/* ===== Hire us now button style ===== */
.btn-hire{
    color: rgb(245, 44, 44);
}

/* ===== 2nd way - Banner buttons styles (You can style your button separately) ===== */
/* ===== Discover more button style ===== */
/* .btn-discover{
    padding: 15px 40px;
    background-color: rgb(240, 12, 12);
    border: none;
    color: white;
    font-size: 18px;
    margin: 5px;
} */

/* ===== Hire us now button style ===== */
/* .btn-hire{
    padding: 15px 40px; */
    /* background-color: rgb(240, 12, 12); */
    /* border: none;
    color: rgb(240, 12, 12);
    font-size: 18px;
    margin: 5px;
} */

/* ======================================================
                  Service section styles
   ====================================================== */
/* ===== Service-container styles ===== */
   .service-container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("/asset/image/footer-bg.png"), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
    background-blend-mode: overlay;
    color: white;
    /* padding: 45px; */
    padding-top: 65px;
}

/* ========== Service left section styles ==========
   ==========--------------------------------------- */
.service-left-container{
    width: 50%;
    padding: 125px 0 0 40px;
    /* margin-left: 45px;
    margin-right: 45px; */
}

/* ===== Service list button styles ===== */
.btn-service{
    border-radius: 25px;
    color: #808080;
}

/* ===== Service list button styles ===== */
/* .btn-service{
    padding: 15px 35px;
    border-radius: 25px;
    border: none;
    color: #808080;
    font-size: 18px;
} */

/* ===== service-title styles ===== */
.service-title{
    font-size: 38px;
    font-weight: bold;
    color: #becfd0;
    padding: 10px;
}

/* ===== service-description styles ===== */
.service-description{
    width: 80%;
    /* margin: auto; */
    font-size: 22px;
    color: #becfd0;
    padding: 10px;
}

/* ===== Service ul list items styles ===== */
ul {
    list-style-type: decimal;
    color: #becfd0;
    padding: 30px;
}

/* ===== author-container styles ===== */
.author-container{
    display: flex;
    align-items: center;
    padding: 10px;
}

/* ===== author-img styles ===== */
.author-img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 10px;
}

/* ===== author-details styles ===== */
.author-details{
    display: flex;
    align-items: center;
    padding-right: 100px;
    border-right: 1px solid rgb(245, 44, 44);
}

/* ===== More details button styles ===== */
.btn-more{
    border-radius: 25px;
    color: rgb(245, 44, 44);
    margin-left: 15px;
}

/* ===== More details button styles ===== */
/* .btn-more{
    padding: 15px 35px;
    border-radius: 25px;
    border: none;
    color: rgb(240, 12, 12);
    font-size: 18px;
} */

/* ========== Service right section styles ==========
   ==========--------------------------------------- */
/* ========== services logo section styles ========== */
.services{
    display: flex;
}

/* ========== services logo container styles ========== */
.service-1, .service-2, .service-3, .service-4{
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: white;
    color: black;
    padding: 50px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    margin: 10px 5px;
    /* margin-right: 15px; */
}

/* ========== services logo styles ========== */
.service-logo{
    width: 50%;
}

/* ========== services logo title styles ========== */
.service-logo-title{
    padding-top: 20px;
}

/* ======================================================
             Make Appointment section styles
   ====================================================== */
/* ===== Appointment container styles ===== */
.appointment-section{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 75%;
    background-color: rgb(245, 44, 44);
    border-radius: 10px;
    /* padding: 30px 0 30px 0; */
    padding: 15px;
    color: white;
    margin: auto;
    margin-top: -80px;
}

/* ========== Appointment-left-section styles ==========
   ==========--------------------------------------- */
   .appointment-left-section{
    display: flex;
    align-items: center;
    border-right: 2px solid gray;
    /* padding: 0 20px 0 20px; */
    /* padding-left: 30px; */
    padding: 10px;
}

/* ===== Phone icon styles ===== */
.phone-icon{
    width: 100px;
    padding: 15px;
}

/* ===== GET A FREE CONSULTATION styles ===== */
.get-a-free{
    font-size: xx-small;
}

/* ===== Phone number styles ===== */
.phone-number{
    font-size: 28px;
}

/* ========== Appointment center description section styles ==========
   ==========-----------------------------------========== */
.appointment-center-section{
    width: 47%;
    /* padding-left: 8px; */
    /* padding: 0 0 0 10px; */
    padding: 10px;

}

/* ========== Appointment right button section styles ==========
   ==========----------------------------------========== */
/* ===== Make Appointment button styles ===== */
/* .btn-appointment{ 
    font-size: x-small;
    border-radius: 25px;
    background-color: white;
} */

/* ===== make Appointment button styles ===== */
.btn-appointment{ 
    padding: 15px 40px;
    /* font-size: x-small; */
    border-radius: 25px;
    border: none;
    background-color: white;
}


/* ======================================================
                   Blogs section styles
   ====================================================== */

/* ========== Blogs-heading-section styles ==========
   ==========------------------------------========== */
.blogs-heading-section{
    text-align: center;
    margin-top: 30px;
}

/* ===== Blogs title styles ===== */
.blogs-title{
    font-size: 50px;
    font-weight: bold;
}

/* ===== Blogs-heading-description styles ===== */
.blogs-heading-description{
    font-size: 22px;
    width: 50%;
    margin: auto;
}

/* ========== Blogs-cards styles ==========
   ==========--------------------========== */
.blogs-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
    padding: 30px;
}

/* ===== Card styles ===== */
.card{
    width: 350px;
    height: 430px;
    background: white;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}

/* ===== Card-img styles ===== */
.card-img{
    width: 350px;
    border-radius: 10px;
    padding-bottom: 10px;
}

/* ===== Card-text styles ===== */
.card-text{
    padding: 15px;
}

/* ===== Card-title styles ===== */
.card-title{
    font-size: 24px;
    font-weight: bold;
    color: rgb(54, 53, 53);
}

/* ===== Card-description styles ===== */
.card-description{
    font-size: 18px;
    color: rgb(76, 72, 72);
    padding-top: 15px;
}


/* ======================================================
                   Footer section styles
   ====================================================== */
footer{
    width: 100%;
    height: 70vh;
    background-image: url("/asset/image/footer-bg.png"), linear-gradient(rgba(0, 0, 0, 0.867), rgba(0, 0, 0, 0.929));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: white;
    line-height: 1.8em;
}

/* ========== Footer-container styles ==========
   ==========------------------------------========== */
.footer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 60vh;
    margin: 0 auto;
    
    /* border-bottom: 1px solid gray; */
}

/* ===== hyperlink OR all footer <a> tag styles ===== */
/* a{
    text-decoration: none;
    color: white;
} */

/* ===== Logo box styles ===== */
.logo-box{
width: 25%;
/* padding-right: 30px; */
}

/* ===== Logo box img styles ===== */
.logo-box img{
    width: 180px;
}

/* ========== All Footer title styles ==========
   ==========-------------------------========== */
.footer-title{
    padding-bottom: 30px;
}


.fa-brands{
    margin: 10px;
    font-size:20px;
}

.fa-solid{
    margin-right: 7px;
}

hr{
    width: 75%;
    margin: auto;
}
.copyright{
    text-align: center;
    padding: 15px;
}









/* ===== Logo box description styles ===== */
.logo-box-description{

}

/* ===== Logo box icons styles ===== */
.logo-box-icons{
    margin-top:20px;
}

/* ========== Useful links styles ==========
   ==========---------------------========== */
.useful-links{
    /* display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 0px; */
}


.useful-link-title{
    /* padding-bottom: 30px; */
}

/* ========== Supports styles ==========
   ==========-----------------========== */
.supports{
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 25%; */
}


.support-title{
    /* padding-bottom: 30px; */
}

/* ========== Contact Information styles ==========
   ==========----------------------------========== */
.contact-info{
    /* display: flex;
    flex-direction: column;
    width: 25%; */
}

.hide{
    display: none;
}

