/* Remove OR delete all by default margin & padding */
*{
    margin: 0;
    padding: 0;
}

body{
    
}

/* ======================================================
                     Navbar section styles
   ====================================================== */
.nav-cointainer{
    display: flex;
    justify-content: space-around;
    background-color: #9b9898;
    color: white;
    padding: 20px;

}

.items{
    display: flex;
    list-style: none;
}

.item{
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    margin-right: 15px;

}

/* ======================================================
                     Banner section styles
   ====================================================== */
.banner-container{
    width: 100%;
    height: 100vh;
    background: url("/asset/image/background.jpg"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

/* ===== Banner-titie styles ===== */
.banner-title{
    font-size: 85px;
    font-weight: bold;
}

/* ===== Banner title "Digital" word styles ===== */
.primary{
    color: rgb(240, 12, 12);
}
/* ===== Banner description styles ===== */
.banner-description{
    width: 50%;
    margin: auto;
    font-size: 22px;
    padding: 20px;
}

/* ======================================================
      Two different way you can styles Banner buttons
   ====================================================== */

/* ===== Banner buttons styles 1st way */
.btn{
    padding: 15px 40px;
    border: none;
    font-size: 18px;
    margin: 5px;
}

.btn-discover{
    background-color: rgb(240, 12, 12);
    color: white;
}

.btn-hire{
    color: rgb(240, 12, 12);
}

/* ===== Banner buttons styles 2nd way */
/* .btn-discover{
    padding: 15px 40px;
    background-color: rgb(240, 12, 12);
    border: none;
    color: white;
    font-size: 18px;
    margin: 5px;
} */

/* .btn-hire{
    padding: 15px 40px; */
    /* background-color: rgb(240, 12, 12); */
    /* border: none;
    color: rgb(240, 12, 12);
    font-size: 18px;
    margin: 5px;
} */

/* ======================================================
             service-container section styles
   ====================================================== */
.service-container{
    width: 100%;
    height: 100vh;
    background-image: url("/asset/image/footer-bg.png"), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
    background-blend-mode: overlay;
    color: white;
    padding: 45px;
}

/* ===== Service button styles ===== */
.btn-service{
    border-radius: 25px;
    color: #808080;
}
/* .btn-service{
    padding: 15px 35px;
    border-radius: 25px;
    border: none;
    color: #808080;
    font-size: 18px;
} */

/* ===== service-title styles ===== */
.service-title{
    font-size: 38px;
    font-weight: bold;
    color: #becfd0;
    padding: 10px;
}

/* ===== service-description styles ===== */
.service-description{
    width: 50%;
    /* margin: auto; */
    font-size: 22px;
    color: #becfd0;
    padding: 10px;
}

/* ===== Unordered list items styles ===== */
ul {
    list-style-type: decimal;
    color: #becfd0;
    padding: 30px;
}

/* ===== author-container styles ===== */
.author-container{
    display: flex;
}

/* ===== More button styles ===== */
.btn-more{
    border-radius: 25px;
    color: rgb(240, 12, 12);
}
/* .btn-more{
    padding: 15px 35px;
    border-radius: 25px;
    border: none;
    color: rgb(240, 12, 12);
    font-size: 18px;
} */

.author-detailes{
    display: flex;
}
